{{!-- Navbar --}}
<div id="page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="icon">
            In The Kitchen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-light bg-light dropdown-toggle" type="button" id="avatar-dropdown-menu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><img id="avatarImgTag">
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatar-dropdown-menu">
                <a class="dropdown-item" href="/api/logout">Logout</a>
            </div>
        </div>
    </nav>
    {{!-- Jumbotron --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="/img/icon.png" width="150" height="150">
            <h1 class="display-4">Your Kitchen</h1>
        </div>
    </div>
    <div class="container-myHomeBtns">
        <div class="row">
            <div class="col">
                <a class="homeBtnsLink" href="/favorites"><button class="btn btn-outline-secondary myHomeBtn">Favorites</button></a>
            </div>
            <div class="col">
                <a class="homeBtnsLink" id="post-a-recipe" href="/createPost"><button class="btn btn-outline-secondary myHomeBtn">Post
                        a Recipe</button></a>
            </div>
        </div>
    </div>
    {{!-- Recipe Blog Section --}}
    <div class="main-blog-container">
        <div>
            {{#each Recipes}}
            <div class="blog-container" id="recipe" {{id}}>
                <h3 id="blogTitle"><strong class="title{{id}}" id={{title}}>{{title}}</strong></h3>
                <button class="deleteYourRecipe" id={{id}}><img src="/img/trashCan.png" alt="save-recipe" width="20"
                        height="20"></button>
                <button class="editRecipe" id={{id}} data-toggle="modal" data-target="#exampleModalCenter"><img src="/img/editImg.png"
                        alt="edit" width="20" height="20"></button>
                <img class="blogImg img{{id}} " id={{image}} src="{{image}}" width="300" height="300">
                <p class="desc{{id}}" id={{desc}}>{{desc}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <a id="backToTop" href="#page-top">Back To Top &#8593;</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Your Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/photo" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="title">What you Cooking?</label>
                        <input type="text" class="form-control" id="titleforRecipe">
                    </div>
                    <div class="form-group">
                        <label for="textAreaForRecipe">How'd you do it?</label>
                        <textarea class="form-control" id="textAreaForRecipe" rows="12"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary savetheUpdates">Save changes</button>
            </div>
        </div>
    </div>
</div>
<footer>
    In The Kitchen &copy; 2019
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<script src="/js/yourRecipes.js"></script>